html, body {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Crimson Text', serif;
    scroll-behavior: smooth;
    background: #e5e5e5;
}

h1, h2, h3 {
    color: #fff;
}

.container {
    width: 100vw;
}

.ant-layout-content {
    background: #e5e5e5;
}
