.ant-image-preview-wrap {
    z-index: 11111111111111111;
}
.ant-image-preview-mask {
    z-index: 11111111111111111;
}

.ant-image-preview-img {
    max-height: 90%;
    transform: none !important;
}

.ant-image {
    margin: .25rem;
}
.ant-image-img {
    max-width: 328px;
}

.ant-image-preview-operations-operation {
    display: none;

    &:first-child {
        display: flex;
    }
}

.wide-img {
    max-width: 80%;
    max-height: 100%;
}


.ant-image-preview-mask {
    background-color: rgba(0, 0, 0, .95);
}

